category/catering.html
<!DOCTYPE html>
<html>
  <head>
    <link href="/css/reset.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/common.css" rel="stylesheet" />
    <link href="/css/category.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet" />
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/wookmark.js"></script>
    <script src="/js/main.js"></script>
    <script>
      $(function(){
          var ua = navigator.userAgent;
          if(ua.indexOf("Android") == -1 && ua.indexOf("iPhone") == -1){
              $(".item_wrap:last-child img").imagesLoaded(function(){
                $(".list_wrap").wookmark({
                  align: "center",
                  offset: 10,
                  itemWidth: 300,
                  autoResize: true,
                  container:$(".image_list")
                });
                $(".image_list").css("opacity","1");
              });
          }
      });
    </script>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>BASEMENT SPEAKES.E Inc</title>
  </head>
  <body>
    <header class="container-fluid header">
      <div class="row">
        <p class="col-xs-9 col-sm-9 col-md-9 company_name">
          <a class="home_link" href="/top.html">BASEMENT SPEAKES.E Inc</a>
        </p>
        <div class="col-xs-3 col-sm-3 menu_img_wrap">
          <img alt="menu" class="menu_img vis" src="/img/menu.png" /><img alt="close" class="close_img" src="/img/close.png" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 navi">
          <ul class="col-md-12 nv_list">
            <li class="col-md-2 col-md-offset-1 nv_item">
              <p class="nv_text">
                <a class="nv_link" href="/category/studio_space.html"> STUDIO/SPACE</a>
              </p>
            </li>
            <li class="col-md-2 nv_item">
              <p class="nv_text">
                <a class="nv_link" href="/category/catering.html"> CATERING</a>
              </p>
            </li>
            <li class="col-md-2 nv_item">
              <p class="nv_text w_line">
                <a class="nv_link" href="/category/food_director.html"> FOOD DIRECTOR</a>
              </p>
            </li>
            <li class="col-md-2 nv_item">
              <p class="nv_text w_line">
                <a class="nv_link" href="/category/flower_artist.html"> FLOWER ARTIST</a>
              </p>
            </li>
            <li class="col-md-2 nv_item">
              <p class="nv_text">
                <a class="nv_link" href="/category/lease.html"> LEASE</a>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="container-fluid">
      <div class="row">
        <div class="container wrapper">
          <div class="firstview center-block fv_category col-md-12 col-sm-12 col-xs-12">
            <h1 class="fv_name col-md-6 col-sm-9 col-xs-9">
              CATERING
            </h1>
          </div>
          <div class="content_wrap container-fluid">
            <div class="space col-md-12" id="space">
              <p class="description">
                展示会やイベントにてマストなケータリングでお客様へのおもてなしをプラス。
              </p>
              <ul class="list_wrap">
                <li class="item_wrap col-md-3 col-sm-6">
                  <p class="it_img_wrap">
                    <img class="it_img" src="/img/meal-1.png" />
                  </p>
                  <div class="it_title">
                    <div class="it_text_wrap">
                      <p class="it_name">
                        CATERING
                      </p>
                      <p class="it_address">
                        Address
                      </p>
                    </div>
                  </div>
                  <a class="it_link col-xs-12 col-sm-12 col-md-12" href="/detail.html"></a>
                </li>
                <li class="item_wrap col-md-3 col-sm-6">
                  <p class="it_img_wrap">
                    <img class="it_img" src="/img/meal-1.png" />
                  </p>
                  <div class="it_title">
                    <div class="it_text_wrap">
                      <p class="it_name">
                        CATERING
                      </p>
                      <p class="it_address">
                        Address
                      </p>
                    </div>
                  </div>
                  <a class="it_link col-xs-12 col-sm-12 col-md-12" href="/detail.html"></a>
                </li>
                <li class="item_wrap col-md-3 col-sm-6">
                  <p class="it_img_wrap">
                    <img class="it_img" src="/img/meal-1.png" />
                  </p>
                  <div class="it_title">
                    <div class="it_text_wrap">
                      <p class="it_name">
                        CATERING
                      </p>
                      <p class="it_address">
                        Address
                      </p>
                    </div>
                  </div>
                  <a class="it_link col-xs-12 col-sm-12 col-md-12" href="/detail.html"></a>
                </li>
                <li class="item_wrap col-md-3 col-sm-6">
                  <p class="it_img_wrap">
                    <img class="it_img" src="/img/meal-1.png" />
                  </p>
                  <div class="it_title">
                    <div class="it_text_wrap">
                      <p class="it_name">
                        CATERING
                      </p>
                      <p class="it_address">
                        Address
                      </p>
                    </div>
                  </div>
                  <a class="it_link col-xs-12 col-sm-12 col-md-12" href="/detail.html"></a>
                </li>
                <li class="item_wrap col-md-3 col-sm-6">
                  <p class="it_img_wrap">
                    <img class="it_img" src="/img/meal-1.png" />
                  </p>
                  <div class="it_title">
                    <div class="it_text_wrap">
                      <p class="it_name">
                        CATERING
                      </p>
                      <p class="it_address">
                        Address
                      </p>
                    </div>
                  </div>
                  <a class="it_link col-xs-12 col-sm-12 col-md-12" href="/detail.html"></a>
                </li>
                <li class="item_wrap col-md-3 col-sm-6">
                  <p class="it_img_wrap">
                    <img class="it_img" src="/img/meal-1.png" />
                  </p>
                  <div class="it_title">
                    <div class="it_text_wrap">
                      <p class="it_name">
                        CATERING
                      </p>
                      <p class="it_address">
                        Address
                      </p>
                    </div>
                  </div>
                  <a class="it_link col-xs-12 col-sm-12 col-md-12" href="/detail.html"></a>
                </li>
                <li class="item_wrap col-md-3 col-sm-6">
                  <p class="it_img_wrap">
                    <img class="it_img" src="/img/meal-1.png" />
                  </p>
                  <div class="it_title">
                    <div class="it_text_wrap">
                      <p class="it_name">
                        CATERING
                      </p>
                      <p class="it_address">
                        Address
                      </p>
                    </div>
                  </div>
                  <a class="it_link col-xs-12 col-sm-12 col-md-12" href="/detail.html"></a>
                </li>
              </ul>
              <p class="top_link col-md-9 col-sm-9 col-xs-9">
                <a href="/top.html"> < TOPへ戻る</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer container-fluid">
      <div class="col-md-10 col-md-offset-1 column">
        <h3 class="footer_title col-md-6">
          Other
        </h3>
        <ul class="link_list col-md-12">
          <li class="list_item">
            <a class="ft_link" href="/about.html"> About</a>
          </li>
          <li class="list_item">
            <a class="ft_link" href="/QA.html"> Q&A</a>
          </li>
        </ul>
        <p class="writtenby">
          Written By WhiteBear
        </p>
      </div>
    </footer>
  </body>
</html>

slim/category/catering.slim
doctype html
html
  head
    link href="/css/reset.css" rel="stylesheet" /
    link href="/css/bootstrap.min.css" rel="stylesheet" /
    link href="/css/common.css" rel="stylesheet" /
    link href="/css/category.css" rel="stylesheet" /
    link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet" /
    script src="/js/jquery-3.1.1.min.js" 
    script src="/js/bootstrap.min.js"
    script src="/js/imagesloaded.pkgd.min.js"
    script src="/js/wookmark.js"
    script src="/js/main.js" 
    script
      |
		  $(function(){
			  var ua = navigator.userAgent;
			  if(ua.indexOf("Android") == -1 && ua.indexOf("iPhone") == -1){
				  $(".item_wrap:last-child img").imagesLoaded(function(){
					$(".list_wrap").wookmark({
					  align: "center",
					  offset: 10,
					  itemWidth: 300,
					  autoResize: true,
					  container:$(".image_list")
					});
					$(".image_list").css("opacity","1");
				  });
			  }
		  });
    meta charset="utf-8" /
    meta content="width=device-width, initial-scale=1" name="viewport" /
    title BASEMENT SPEAKES.E Inc
  body
    header.container-fluid.header
      .row
        p.col-xs-9.col-sm-9.col-md-9.company_name
          a.home_link href="/top.html"
           | BASEMENT SPEAKES.E Inc
        .col-xs-3.col-sm-3.menu_img_wrap
          img.menu_img.vis alt="menu" src="/img/menu.png" /
          img.close_img alt="close" src="/img/close.png" /
        .col-xs-12.col-sm-12.col-md-12.navi
          ul.col-md-12.nv_list
              li.col-md-2.col-md-offset-1.nv_item
                p.nv_text
                  a.nv_link href="/category/studio_space.html"  STUDIO/SPACE
              li.col-md-2.nv_item
                p.nv_text
                  a.nv_link href="/category/catering.html"  CATERING
              li.col-md-2.nv_item
                p.nv_text.w_line
                  a.nv_link href="/category/food_director.html"  FOOD DIRECTOR
              li.col-md-2.nv_item
                p.nv_text.w_line
                  a.nv_link href="/category/flower_artist.html"  FLOWER ARTIST
              li.col-md-2.nv_item
                p.nv_text
                  a.nv_link href="/category/lease.html"  LEASE
    .container-fluid
      .row
        .container.wrapper
          .firstview.center-block.fv_category.col-md-12.col-sm-12.col-xs-12
            h1.fv_name.col-md-6.col-sm-9.col-xs-9
              | CATERING
          .content_wrap.container-fluid
            #space.space.col-md-12
              p.description
                | 展示会やイベントにてマストなケータリングでお客様へのおもてなしをプラス。
              ul.list_wrap
                li.item_wrap.col-md-3.col-sm-6
                  p.it_img_wrap
                    img.it_img src="/img/meal-1.png" /
                  .it_title
                    .it_text_wrap
                      p.it_name
                        | CATERING
                      p.it_address
                        | Address
                  a.it_link.col-xs-12.col-sm-12.col-md-12 href="/detail.html" 
                li.item_wrap.col-md-3.col-sm-6
                  p.it_img_wrap
                    img.it_img src="/img/meal-1.png" /
                  .it_title
                    .it_text_wrap
                      p.it_name
                        | CATERING
                      p.it_address
                        | Address
                  a.it_link.col-xs-12.col-sm-12.col-md-12 href="/detail.html" 
                li.item_wrap.col-md-3.col-sm-6
                  p.it_img_wrap
                    img.it_img src="/img/meal-1.png" /
                  .it_title
                    .it_text_wrap
                      p.it_name
                        | CATERING
                      p.it_address
                        | Address
                  a.it_link.col-xs-12.col-sm-12.col-md-12 href="/detail.html" 
                li.item_wrap.col-md-3.col-sm-6
                  p.it_img_wrap
                    img.it_img src="/img/meal-1.png" /
                  .it_title
                    .it_text_wrap
                      p.it_name
                        | CATERING
                      p.it_address
                        | Address
                  a.it_link.col-xs-12.col-sm-12.col-md-12 href="/detail.html" 
                li.item_wrap.col-md-3.col-sm-6
                  p.it_img_wrap
                    img.it_img src="/img/meal-1.png" /
                  .it_title
                    .it_text_wrap
                      p.it_name
                        | CATERING
                      p.it_address
                        | Address
                  a.it_link.col-xs-12.col-sm-12.col-md-12 href="/detail.html" 
                li.item_wrap.col-md-3.col-sm-6
                  p.it_img_wrap
                    img.it_img src="/img/meal-1.png" /
                  .it_title
                    .it_text_wrap
                      p.it_name
                        | CATERING
                      p.it_address
                        | Address
                  a.it_link.col-xs-12.col-sm-12.col-md-12 href="/detail.html" 
                li.item_wrap.col-md-3.col-sm-6
                  p.it_img_wrap
                    img.it_img src="/img/meal-1.png" /
                  .it_title
                    .it_text_wrap
                      p.it_name
                        | CATERING
                      p.it_address
                        | Address
                  a.it_link.col-xs-12.col-sm-12.col-md-12 href="/detail.html" 
              p.top_link.col-md-9.col-sm-9.col-xs-9
                a href="/top.html"  < TOPへ戻る
    footer.footer.container-fluid
      .col-md-10.col-md-offset-1.column
        h3.footer_title.col-md-6
          | Other
        ul.link_list.col-md-12
          li.list_item
            a.ft_link href="/about.html"  About
          li.list_item
            a.ft_link href="/QA.html"  Q&A
        p.writtenby
          | Written By WhiteBear
