slim/QA.slim
doctype html
html
  head
    link href="/css/reset.css" rel="stylesheet" /
    link href="/css/bootstrap.min.css" rel="stylesheet" /
    link href="/css/common.css" rel="stylesheet" /
    link href="/css/qa.css" rel="stylesheet" /
    link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet" /
    script src="/js/jquery-3.1.1.min.js" 
    script src="/js/bootstrap.min.js"
    script src="/js/main.js" 
    meta charset="utf-8" /
    meta content="width=device-width, initial-scale=1" name="viewport" /
    title BASEMENT SPEAKES.E Inc
  body
    header.container-fluid.header
      .row
        p.col-xs-9.col-sm-9.col-md-9.company_name
          a.home_link href="/top.html"
           | BASEMENT SPEAKES.E Inc
        .col-xs-3.col-sm-3.menu_img_wrap
          img.menu_img.vis alt="menu" src="/img/menu.png" /
          img.close_img alt="close" src="/img/close.png" /
        .col-xs-12.col-sm-12.col-md-12.navi
          ul.col-md-12.nv_list
              li.col-md-2.col-md-offset-1.nv_item
                p.nv_text
                  a.nv_link href="/category/studio_space.html"  STUDIO/SPACE
              li.col-md-2.nv_item
                p.nv_text
                  a.nv_link href="/category/catering.html"  CATERING
              li.col-md-2.nv_item
                p.nv_text.w_line
                  a.nv_link href="/category/food_director.html"  FOOD DIRECTOR
              li.col-md-2.nv_item
                p.nv_text.w_line
                  a.nv_link href="/category/flower_artist.html"  FLOWER ARTIST
              li.col-md-2.nv_item
                p.nv_text
                  a.nv_link href="/category/lease.html"  LEASE
    .container-fluid
      .row
        .content_wrap.container-fluid
          .qa.row
            h2.content_title
              | Q&A
            .qa_column
              .qa_colwrap.row
                p.qa_title.col-md-6
                  | Q1.ここに質問内容をかく
                p.qa_text.col-md-6
                  | この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れてい
              .qa_colwrap.row
                p.qa_title.col-md-6
                  | Q2.ここに質問内容をかく
                p.qa_text.col-md-6
                  | この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れてい
              .qa_colwrap.row
                p.qa_title.col-md-6
                  | Q3.ここに質問内容をかく
                p.qa_text.col-md-6
                  | この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れてい
              .qa_colwrap.row
                p.qa_title.col-md-6
                  | Q4.ここに質問内容をかく
                p.qa_text.col-md-6
                  | この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れてい
              .qa_colwrap.row
                p.qa_title.col-md-6
                  | Q5.ここに質問内容をかく
                p.qa_text.col-md-6
                  | この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れてい
    footer.footer.container-fluid
      .col-md-10.col-md-offset-1.column
        h3.footer_title.col-md-6
          | Other
        ul.link_list.col-md-12
          li.list_item
            a.ft_link href="/about.html"  About
          li.list_item
            a.ft_link href="/QA.html"  Q&A
        p.writtenby
          | Written By WhiteBear

QA.html
<!DOCTYPE html>
<html>
  <head>
    <link href="/css/reset.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/common.css" rel="stylesheet" />
    <link href="/css/qa.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet" />
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>BASEMENT SPEAKES.E Inc</title>
  </head>
  <body>
    <header class="container-fluid header">
      <div class="row">
        <p class="col-xs-9 col-sm-9 col-md-9 company_name">
          <a class="home_link" href="/top.html">BASEMENT SPEAKES.E Inc</a>
        </p>
        <div class="col-xs-3 col-sm-3 menu_img_wrap">
          <img alt="menu" class="menu_img vis" src="/img/menu.png" /><img alt="close" class="close_img" src="/img/close.png" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 navi">
          <ul class="col-md-12 nv_list">
            <li class="col-md-2 col-md-offset-1 nv_item">
              <p class="nv_text">
                <a class="nv_link" href="/category/studio_space.html"> STUDIO/SPACE</a>
              </p>
            </li>
            <li class="col-md-2 nv_item">
              <p class="nv_text">
                <a class="nv_link" href="/category/catering.html"> CATERING</a>
              </p>
            </li>
            <li class="col-md-2 nv_item">
              <p class="nv_text w_line">
                <a class="nv_link" href="/category/food_director.html"> FOOD DIRECTOR</a>
              </p>
            </li>
            <li class="col-md-2 nv_item">
              <p class="nv_text w_line">
                <a class="nv_link" href="/category/flower_artist.html"> FLOWER ARTIST</a>
              </p>
            </li>
            <li class="col-md-2 nv_item">
              <p class="nv_text">
                <a class="nv_link" href="/category/lease.html"> LEASE</a>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="container-fluid">
      <div class="row">
        <div class="content_wrap container-fluid">
          <div class="qa row">
            <h2 class="content_title">
              Q&A
            </h2>
            <div class="qa_column">
              <div class="qa_colwrap row">
                <p class="qa_title col-md-6">
                  Q1.ここに質問内容をかく
                </p>
                <p class="qa_text col-md-6">
                  この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れてい
                </p>
              </div>
              <div class="qa_colwrap row">
                <p class="qa_title col-md-6">
                  Q2.ここに質問内容をかく
                </p>
                <p class="qa_text col-md-6">
                  この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れてい
                </p>
              </div>
              <div class="qa_colwrap row">
                <p class="qa_title col-md-6">
                  Q3.ここに質問内容をかく
                </p>
                <p class="qa_text col-md-6">
                  この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れてい
                </p>
              </div>
              <div class="qa_colwrap row">
                <p class="qa_title col-md-6">
                  Q4.ここに質問内容をかく
                </p>
                <p class="qa_text col-md-6">
                  この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れてい
                </p>
              </div>
              <div class="qa_colwrap row">
                <p class="qa_title col-md-6">
                  Q5.ここに質問内容をかく
                </p>
                <p class="qa_text col-md-6">
                  この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れてい
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer container-fluid">
      <div class="col-md-10 col-md-offset-1 column">
        <h3 class="footer_title col-md-6">
          Other
        </h3>
        <ul class="link_list col-md-12">
          <li class="list_item">
            <a class="ft_link" href="/about.html"> About</a>
          </li>
          <li class="list_item">
            <a class="ft_link" href="/QA.html"> Q&A</a>
          </li>
        </ul>
        <p class="writtenby">
          Written By WhiteBear
        </p>
      </div>
    </footer>
  </body>
</html>
